
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###
