tournament.index:
   path: /{_locale}/tournaments
   controller: App\Controller\TournamentController::index
   requirements:
      _locale: '%app_locales%'

tournament.add:
   path: /{_locale}/tournament/add
   controller: App\Controller\TournamentController::add
   requirements:
      _locale: '%app_locales%'

tournament.show:
   path: /{_locale}/tournament/{tournament}
   controller: App\Controller\TournamentController::show
   requirements:
      _locale: '%app_locales%'      

peloton.add:
   path: /{_locale}/tournament/{tournament}/peloton/add
   controller: App\Controller\PelotonController::add
   requirements:
      _locale: '%app_locales%'

peloton.show:
   path: /{_locale}/tournament/{tournament}/peloton/{peloton}
   controller: App\Controller\PelotonController::show
   methods : GET
   requirements:
      _locale: '%app_locales%'  

participant.add:
   path: /{_locale}/tournament/{tournament}/peloton/{peloton}/add
   controller: App\Controller\PelotonController::addParticipant
   methods : [GET, POST]
   requirements:
      _locale: '%app_locales%'     
      
# participant.delete:
#    path: /{_locale}/tournament/{tournament}/peloton/{peloton}/participant/{participant}
#    controller: App\Controller\PelotonController::addParticipant
#    methods : DELETE
#    requirements:
#       _locale: '%app_locales%'         
