{% extends 'base.html.twig' %}

{% block title %}Tournament - {{ parent() }}{% endblock %}

{% block body %}    
    <h3>{{ tournament.startDate|date('d/m/Y') }}</h3>
    
    <h3>
    Pelotons
    {% if is_granted('ROLE_ADMIN') %}
        {# <a class="btn btn-primary" href="{{ path('peloton_add', {'id': tournament.id}) }}">Ajouter un peloton</a> #}
        <p>yeah admin :D</p>
    {% endif %}
    </h3>

    <h3>
    Archés enregistrés
    </h3>
    <table>
        <tr>
            <th>FullName</th>
            <th>Points</th>
            <th>10</th>
            <th>9</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </table>
{% endblock %}