<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}        
    </head>
    <body>
        {% include('layout/nav.html.twig') %}

        <div class="container">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>Username: {{ app.user.username }}</p>
            {% endif %}
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
